#back{
  background-image: linear-gradient( rgba(96, 97, 106, 0.52), rgba(77, 87, 80, 0.73)),
  url(./Images/background.jpg);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }