#back{
    background-image: url(./Images/background.jpg);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }