@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


<<<<<<< HEAD





  
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
   
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=PT+Serif&display=swap');
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=PT+Serif&family=Phudu&family=Poppins:ital@1&family=Vesper+Libre:wght@700;900&display=swap');
  
  
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,100&display=swap');
=======
>>>>>>> f3777b94b4498370d7a37a80ee0e9f1b335fde42
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Dancing+Script:wght@400;700&family=Montserrat:ital@1&family=Open+Sans:ital@1&family=PT+Serif&family=Phudu&family=Poppins:ital@1&family=Vesper+Libre:wght@700;900&display=swap');
  
  
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Calligraffitti&family=Caprasimo&family=Dancing+Script:wght@400;700&family=Montserrat:ital@1&family=Open+Sans:ital@1&family=PT+Serif&family=Phudu&family=Poppins:ital@1&family=Vesper+Libre:wght@400;700;900&display=swap');
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Calistoga&family=Calligraffitti&family=Caprasimo&family=Dancing+Script:wght@400;700&family=Montserrat:ital@1&family=Open+Sans:ital@1&family=PT+Serif&family=Phudu&family=Poppins:ital@1&family=Vesper+Libre:wght@400;700;900&display=swap');
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


<<<<<<< HEAD



  #back{
    background-image: url(./Images/back.png);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
=======
>>>>>>> f3777b94b4498370d7a37a80ee0e9f1b335fde42
  
  
    